Repository mlatcl/kafker: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, pylint, poetry

isort:
  name: isort
  entry: isort .
  language: system
  require_serial: true

black:
  name: black
  entry: black
  language: system
  require_serial: true

pylint:
  name: pylint
  entry: pylint
  language: system

poetry:
  name: poetry
  entry: poetry check
  language: system
  pass_filenames: false

Fix linting errors
  kafker/learning/agents.py
  kafker/learning/models.py
  kafker/posts/agents.py
  kafker/users/agents.py
  kafker/users/views.py
Due: isort, black, pylint

Disable abstract-method due to Faust records false positives
  pylintrc
Due: none

Fix linending
  docker/config.yaml
Due: none

Add a pre-commit github action
  .github/workflows/pre_commit.yml
Due: none

Explain pre-commit usage some more
  README.md
Due: none

Ignore temporary files
  .gitignore
Due: none

Rename learning package to markov
  kafker/__init__.py
  kafker/markov/__init__.py
  kafker/markov/agents.py
  kafker/markov/commands.py
  kafker/markov/models.py
  kafker/markov/views.py
Due: isort, black, pylint

Ignore vscode files
  .gitignore
Due: none

Add personal dictionaries
  kafker/markov/agents.py
  kafker/markov/models.py
  kafker/markov/views.py
Due: isort, black, pylint

Run black
  kafker/markov/models.py
Due: isort, black, pylint

Remove debug output
  kafker/markov/agents.py
Due: isort, black, pylint

Switch to faust-streaming, a maintained fork of faust
  poetry.lock
  pyproject.toml
Due: poetry

Add some more data
  generate_data.sh
Due: none

Break the complicated for-expression into two lines
  kafker/markov/agents.py
Due: isort, black, pylint

Make the personal words weight an explicit parameter
  kafker/markov/views.py
Due: isort, black, pylint

Update the poetry.lock
  poetry.lock
Due: none

Extract timeline rebuilds to proper streams
  kafker/posts/agents.py
  kafker/users/agents.py
Due: isort, black, pylint

Configure docker compose to use BraveNW external address.
  docker/docker-compose.yaml
Due: none

Change client to access BraveNW.info
  kafker/app.py
Due: isort, black, pylint

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  pylint: any of: \.py$
  poetry: any of: pyproject.toml
